/* Fonts */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
/* Colors */
:root {
  --text: #593414;
  --primary: #F2ECD8;
  --secondary: #A6800F;
  --extra1: #F2B90F;
  --extra2: #F21D44;
}
/* Variables */
.title {
  font-family: 'Poppins', 'sans-serif';
  color: #593414;
  font-weight: bold;
}
.text {
  font-family: 'Poppins', 'sans-serif';
  color: #593414;
  font-weight: normal;
}
html {
  overflow-x: hidden;
}
body {
  background-color: #F2ECD8;
  overflow-x: hidden;
}
/* Header */
nav {
  background-color: #FCF7E0;
}
nav a {
  font-family: 'Poppins', 'sans-serif';
  color: #593414;
  font-weight: normal;
}
/*  Home Page  */
.header {
  text-align: center;
  margin-top: 50px;
}
.pizza-container {
  margin-top: 50px;
}
.pizza-container .row .col {
  border: 1px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pizza-container .pizza-wrapper {
  border: 1px solid red;
  width: fit-content;
}
.pizza-container .pizza-wrapper img {
  width: 400px;
}
form {
  width: 350px;
  border: 3px solid #593414;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  margin-top: 50px;
  border-radius: 2%;
}
form input {
  width: 100%;
  border: 2px solid #593414;
}
form .input-group {
  margin-bottom: 10px;
}
form .input-group button {
  background-color: #593414;
  color: #F2ECD8;
  margin-top: 10px;
}
form .input-group button:hover {
  background-color: #A6800F;
  color: #fff;
}
form a {
  text-decoration: none;
  color: #A6800F;
}
form a:hover {
  color: #F2B90F;
}
.warning {
  color: #F21D44;
}
/* Dashboard  */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px;
}
.content .success h4 {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  color: #593414;
  font-weight: bold;
}
.content p {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  color: #593414;
  font-weight: normal;
}
.content .logout {
  margin: 0;
  align-self: flex-end;
  position: absolute;
}
@media only screen and (max-width: 500px) {
  .content .logout {
    position: inherit;
    align-self: auto;
  }
}
.content .logout a {
  color: #F21D44;
}
/* Order Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td img {
  width: 100px;
}
/* Responsive   */
